* {
    margin: 0;
    padding: 0;
}
html, body {
    height: 100%;
}
.container {
    background: url(./city-5.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
form {
    max-width: 400px;
    padding: 20px;
    width: 90%;
    background: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    border-radius: 10px;
}
.form-title {
    font-size: 25px;
}
.form-links input {
    width: 90%;
    padding: 8px;
}
.button {
    text-align: center;
}
.button input {
    width: 200px;
    border: none;
    border-bottom: 2px solid#fff;
    background: rgb(33, 109, 197);
    color: #fff;
    border-radius: 10px;
    padding: 10px;
}
.button input:hover {
    background: rgb(184, 83, 46);
}
@media(max-width: 768px) {
   
}